<div class="container">
  <div class="row col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="card">
      <div class="center-content">
        <div>
          <%= image_tag("beer.png", class: "fine-card-logo")%>
        </div>
        <div class="fine-card-details">
          <h3><%=fine.reason%></h3>
          <%=fine.point%> points <%=fine.price%>€ d'amende Date limite : <%=fine.fine_deadline.to_formatted_s(:short) %>
          <h4><%=fine.fine_offer%>€</h4>
        </div>
      </div>
    </div>
  </div>
</div>


