<h2>Informations</h2>
<%= simple_form_for(@fine) do |f| %>

  <%= f.input :last_name, label: 'Your lastname please', error: 'Lastname is mandatory, please specify one' %>

  <%= f.input :first_name, label: 'Your firstrname please', error: 'Lastname is mandatory, please specify one' %>

  <select class="form-control">
    <option value="1">Traffic Light</option>
    <option value="2">Overspeed</option>
    <option value="3">Other</option>
  </select>

  <%=f.input :point, collection: 1..6 %>

  <%= f.input :price, label: 'Your price please', error: 'Price is mandatory, please specify one' %>

  <%= f.input :fine_deadline, label: 'Limit Date please', error: 'Limit Date is mandatory, please specify one' %>

  <h3>Votre offre</h3>
  <%= f.input :fine_offer, label: 'Offer please', error: 'Offer is mandatory, please specify one' %>
   <%= f.input :comment, label: 'Comment please' %>
  <%= f.submit "Publish a fine", class: "btn btn-primary" %>
<% end %>
