<h1>Fines#show</h1>
<ul>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#offerModal">
  Je crois bien que c'est moi
</button>


  <li><%="@fine.id: "%><%=@fine.id%> </li>
  <li><%="@fine.fine_date: "%><%=@fine.fine_date%> </li>
  <li><%="@fine.fine_deadline: "%><%=@fine.fine_deadline%> </li>
  <li><%="@fine.point: "%><%=@fine.point%> </li>
  <li><%="@fine.price: "%><%=@fine.price%> </li>
  <li><%="@fine.reason: "%><%=@fine.reason%> </li>
  <li><%="@fine.comment: "%><%=@fine.comment%> </li>
  <li><%="@fine.user_id: "%><%=@fine.user_id%> </li>
  <li><%="@fine.updated_at: "%><%=@fine.updated_at%> </li>
  <li><%="@fine.last_name: "%><%=@fine.last_name%> </li>
  <li><%="@fine.first_name: "%><%=@fine.first_name%> </li>
  <li><%="@fine.fine_offer: "%><%=@fine.fine_offer%> </li>
</ul>

<%= render partial: "fines/card", object: @fine, as: :fine %>



<!-- Modal -->
<div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="offerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="offerModalLabel"><%=@fine.reason%></h4>
      </div>
      <div class="modal-body">
        <h4> <%=@fine.point%> point(s)</h4>
        <h5>Le : <%=@fine.fine_date%> </h5>
        <h5>Amende : <%=@fine.price%> € </h5>
        <h5>Prime d'honnêteté: <%=@fine.fine_offer%> €</h5>
      </div>
      <div class="modal-footer">
        <%= simple_form_for(@new_offer, url: new_fine_offer_path(fine_id: @fine.id)) do |f| %>
        <div class="form-inputs">
          Current user : <%=current_user.id%>
          <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
        </div>

        <div class="form-actions">
          <%= f.button :submit , "Log in", class: "btn btn-large btn-block btn-primary full-width" %>
        </div>
       <% end %>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Oui Oui c'était bien moi :-)
        </button>
      </div>
    </div>
  </div>
</div>
