<div class="class text-center">
<%= @user.last_name %>
</div>
<% avatar_url = @user.facebook_picture_url || @user.photo && @user.photo.url || 'http://placehold.it/30x30' %>

<img src="<%= avatar_url %>" class="avatar-large img-responsive center-block" alt="Avatar">


<div class="tabs">
<a class="tab active" content-id ="#fine">
    <h3>Mes contraventions</h3>
  </a>
  <a class="tab" content-id ="#offer">
    <h3>Mes offres</h3>
  </a>
</div>

<div id="fine" class="tab-content" >
  <div class="owl-carousel">
    <%= render partial: "fines/card", collection: @fines, as: :fine %>
  </div>
</div>

<div id="offer" class="tab-content flex-vertical-center">
  <%= render partial: "offers/card", collection: @offers, as: :offer %>

</div>

<p>offer <%= @offers.length%></p>
<p>fine <%= @fines.length%></p>
<%= link_to t(".top_call_to_action", default: 'Modifiez votre profil'), edit_user_registration_path(@user), class: "navbar-wagon-item navbar-wagon-button btn" %>
