<p id="notice"><%= notice %></p>

<h1>Productrails</h1>

<table>
  <thead>
    <tr>
      <th>G</th>
      <th>Scription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productrails.each do |productrail| %>
      <tr>
        <td><%= productrail.g %></td>
        <td><%= productrail.scription %></td>
        <td><%= link_to 'Show', productrail %></td>
        <td><%= link_to 'Edit', edit_productrail_path(productrail) %></td>
        <td><%= link_to 'Destroy', productrail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Productrail', new_productrail_path %>
