<p id="notice"><%= notice %></p>

<p>
  <strong>G:</strong>
  <%= @productrail.g %>
</p>

<p>
  <strong>Scription:</strong>
  <%= @productrail.scription %>
</p>

<%= link_to 'Edit', edit_productrail_path(@productrail) %> |
<%= link_to 'Back', productrails_path %>
